{% extends 'base.html' %}


{% block head %}
<title>Task Master</title>
{% endblock %}


{% block body %}

<div class='content'>
    <h1 style="text-align: center;">Task List</h1>

    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There is no data, add new data below</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>HowTo</th>
            <th>Deadline</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>
                <a href="/delete/{{ task.id }}">Delete</a><br>
                <a href="/update/{{ task.id }}">Update</a>
            </td>
            <td>{{ task.date_created.date() }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br>
    <br>
    <!-- update data -->
    <form action="/" method="POST" style="text-align: center;">
        <input type="text" name='post_content_name' id="post_content_id">
        <input type="submit" value="Add Task">
    </form>
</div> 

{% endblock %}